.reason-container{
    margin: 20px;
    text-align: center;
}

.reason-container:hover {
    color: #da2ca5;
    transition: .5s;
}

.logo{
    width: 90px;
    height: 90px;
    margin: 10px;
}

.title{
    font-weight: 600;
}
.descrip{
    max-width: 230px;
}


@media screen and (max-width: 500px) {
    .logo{
        width: 100px;
        height: 100px;
        margin: 5px;
    }
}


@media screen and (min-width: 1025px) {
    .reason-container{
        margin: 30px;
    }
    .logo{
        width: 120px;
        height: 120px;
        margin: 15px;
    }
}