.WhyMe{
    width: 100%;
    background-position: 1px;

    text-align: center;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* border: 1px solid black; */
}

.whyme-title{
    color: #30B2DC;
    letter-spacing: 5px;
}

.whyme-container{
    /* border: 1px solid black; */
    width: 100%;
    max-width: 1024px;
    justify-content: space-between;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
}