.WhyMe{
    width: 100%;
    /* display: flex; */
    background-position: 1px;

    text-align: center;
    /* align-items: center;
    justify-content: center; */
}

.whyme-title{
    color: #30B2DC;
    letter-spacing: 5px;
}

.whyme-container{
    max-width: 1024px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin:  auto;
}