.Comments{
    height: 30vh;
    display: flex;
    color : #ffffff;
    background-color: #30B2DC;
}

.comments-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

button{
    border: none;
    background: none;
    cursor: pointer;
    color : #ffffff;
    font-size: large;
}


@media screen and (max-width: 500px) {
    .Comments{
        height: 22vh;
    }
}

@media screen and (min-width: 1025px) {
    .comments-container{
        justify-content: space-between;
        max-width: 1024px;
    }
}