.Comments{
    height: 30vh;
    display: flex;
    color : #2A2A2B;
    background-color: #F1FCFF;
}

.comments-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

button{
    border: none;
    background: none;
    cursor: pointer;
    color : #3CA7C5;
    font-size: large;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.96px;
}


@media screen and (max-width: 500px) {
    .Comments{
        height: 22vh;
    }
}

@media screen and (min-width: 1025px) {
    .comments-container{
        justify-content: space-between;
        max-width: 1024px;
    }
}